@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
}

* {
  font-family: "Raleway", sans-serif;
}

html,
body {
  min-height: 100vh;
}

#app {
  min-height: 100vh;
}

.bg-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/homepovmobile.jpg");
  background-size: cover;
}

@media screen and (min-width: 769px) {
  .bg-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/homepov.jpg");
    background-size: cover;
  }
}
